#main
  .anime-t
    %h2 Typing Game
  #content
    %p#start-message 「スペースキー」を押すとスタートします
    %p#yomi
    #mondai
      -# ここに問題がでる
    #finish-panel.hidden
      %p#end ＊＊＊ 終了！お疲れ様です ＊＊＊
      %p#correct-message
      %p#mistake-message
      %p#time-message
      %input#start-button{type:"button", value: "やりなおす"}

  #tool
    %select#count-select
      %option{value:"3"} 出題数：３問
      %option{value:"5"} 出題数：５問
      %option{value:"10"} 出題数：１０問