#main{
  text-align: center;
  #content{
    border: 2px solid black;
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
    #yomi{
      margin-top: 20px;
      top: 10px;
      position: relative;
    }
    #mondai{
      display: flex;
      justify-content: center;
      font-size: 2.4rem;
      .text{
        margin-bottom: 20px;
        padding: 2px;
      }
      .text.default{
        color: #f3f3f3;
        text-shadow: 
          #000 1px 1px 0px,
          #000 -1px 1px 0px,
          #000 1px -1px 0px,
          #000 -1px -1px 0px;
      }
      .text.correct{
        color: black;
        text-shadow: none;
      }
    }
    #finish-panel{
      text-align: center;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .hidden{
      display: none;
    }
    #start-button{
      margin: 10px;
      font-size: 1.0em;
      font-weight: bold;
      padding: 10px 30px;
      background-color: #248;
      color: #fff;
      border-style: none;
      cursor: pointer;
    }
    #tool{
      padding-top: 16px;
      #count-select{
        height: 50px;
        text-align: center;
        font-size: 1rem;
        padding: 10px;
        margin: 10px;
      }
      
    }
  }
}