@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

#main{
  height: 100vh;
  padding-top: 20px;
  text-align: center;
  background: linear-gradient(#81d5eb,  #deeef1);
  .anime-t{
    margin-left: 200px;
    margin-right: 200px;
    h2{
      margin-bottom: 20px;
      color: #fff;
      text-shadow: 1px 0 5px black;
      font: bold 2rem Consolas, Monaco, monospace;
      border-right: .1em solid grey; 
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      -webkit-animation: typing 3s steps(25, end),
      blink-caret .6s step-end infinite alternate;
    }
  }
  
  #content{
    background-color: #fff;
    border: 2px solid black;
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
    #start-message{
      margin-top: 50px;
      margin-bottom: 50px;
    }
    #yomi{
      margin-top: 20px;
      top: 10px;
      position: relative;
    }
    #mondai{
      display: flex;
      justify-content: center;
      font-size: 2.4rem;
      .text{
        margin-bottom: 20px;
        padding: 2px;
      }
      .text.default{
        color: #f3f3f3;
        text-shadow: 
          #000 1px 1px 0px,
          #000 -1px 1px 0px,
          #000 1px -1px 0px,
          #000 -1px -1px 0px;
      }
      .text.correct{
        color: black;
        text-shadow: none;
      }
    }
    #finish-panel{
      text-align: center;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .hidden{
      display: none;
    }
    #end{
      font-size: 20px;
    }
    #correct-message{
      padding-top: 10px; 
    }
    #mistake-message{
      padding-top: 10px;
      color: red;
    }
    #time-message{
      padding-top: 10px;
    }
    #start-button{
      margin: 10px;
      font-size: 1.0em;
      font-weight: bold;
      padding: 10px 30px;
      background-color: #248;
      color: #fff;
      border-style: none;
      cursor: pointer;
    }
          
  }
    #tool{
      padding-top: 16px;
      #count-select{
        height: 50px;
        text-align: center;
        font-size: 1rem;
        padding: 10px;
        margin: 10px;
      }
    }
}